/* .user-markups { display: none; }
.user-wallet { display: none; }
.user_roles { display: none; }
.multi_theme { display: none; }
.multi_currency { display: none; }
.agent_signup { display: none; }
.supplier_signup { display: none; } */